/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.idea/
isn_umbrella.iml
*.iml/

ISN-Backend.iml

apps/data/data.iml

apps/api/api.iml
apps/api/priv/static/swagger.json
mix.lock
.env
